header#header
  img#logo(src="http://via.placeholder.com/350x50/050c28/ededfc?text=Virginia's Logo", alt="", width="350", height="50")


div#menu-overlay
aside#menu
  #ham menu
  nav
    ul
      li HOME
      li GALLERY
      li AWARDS
      li ABOUT

