extends _layout.pug

block append head.title
  - var title = ""

block content
  section
    header Base project section title

    article
      header Some content

    article
      header More content
      
    footer Base project footer
