@import '_colors';
@import '_fonts';
@import '_header';
@import '_footer';
@media (max-width: 768px) {
  body {
    font-family: $opensans;
    background-color: $gray;
    color: $black;
    height: 100vh;
    margin: 0;
    text-align: center;
    position: relative;
  }
}
